.content {
  display: inline;
  text-align: center;
  color: #000;
  vertical-align: middle;
  display: table-cell;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 24px;
  margin: 24px;
}

.customButton {
  color: white;
  background: #152acb;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: x-large;
}

.customButton:focus,
.customButton:active,
.customButton:hover {
  outline: none;
  text-decoration: inherit;
  color: white;
  text-decoration: none;
  opacity: 90%;
}

.h1Landing {
  color: white;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 65px;
  letter-spacing: 3px;
}

.pLanding {
  font-family: 'Open Sans', sans-serif;
  font-size: xx-large;
  margin: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  .h1Landing {
    color: white;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    letter-spacing: 3px;
  }

  .pLanding {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    margin: 5px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin: 48px;
  }

  .customButton {
    color: white;
    background: #152acb;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: large;
  }
}

@media (max-width: 500px) {
  .h1Landing {
    color: white;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
  }

  .pLanding {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    margin: 5px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin: 48px;
  }

  .customButton {
    color: white;
    background: #152acb;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: large;
  }
}
